<ul class="sidebar-menu" data-widget="tree">
    <li class="header">菜单</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="#"><i class="fa fa-link"></i> <span>看板</span></a></li>
    <li class="treeview">
        <a href="#"><i class="fa fa-link"></i> <span>用户管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/users">全部用户</a></li>
        </ul>
    </li>
</ul>
