{% import "fragments/content-header" %}
{% extends "layout/basic" %}

{% block subtitle %}用户列表 - {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{cdn.url('/js/bower_components/bootstrap-table/dist/bootstrap-table.css')}}">
<style>
.table-form { padding: 10px 0;}
.table-form .form-horizontal .control-label{ text-align: left; }
.table-form .query-button-group { text-align: right;}
.table>thead>tr>th { background: #fafafa; border-left:none; padding: 8px !important; word-break: break-word;}
.table>tbody>tr>td { border-left:none; padding: 16px 8px !important; word-break: break-word;}
.fixed-table-body { border-top:none; border-right: none; border-left: none; border-bottom: 1px solid #e8e8e8;}
.thumbnail_pic img { width: 200px; height: 150px; border: 1px solid #e8e8e8; padding: 2px;}
.modal{
   overflow:auto !important;
}
</style>
{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {{contentHeader("用户列表", "审核/编辑等", "fa fa-article", "用户管理")}}

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- Default box -->
        <div class="box">
            <div class="box-body">
                <div class="table-form" style="min-height: 100px">
                    <form class="form-horizontal" id="form-query">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="query_id" class="control-label col-sm-3">编码:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="query_id" name="id" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="query_user_name" class="control-label col-sm-3">用户名:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="query_user_name" name="user_name" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="query_email" class="control-label col-sm-3">邮箱:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="query_emial" name="email" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="query_mobile" class="control-label col-sm-3">手机号:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="query_mobile" name="mobile" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="query_display_name" class="control-label col-sm-3">昵称:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="query_display_name" name="display_name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="query_join_date" class="control-label col-sm-3">注册日期:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="query_join_date" name="join_date" placeholder="格式：2018-01-01">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="query_status" class="control-label col-sm-3">状态:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="query_status" name="status">
                                            <option value="">全部状态</option>
                                            <option value="active">正常</option>
                                            <option value="blocked">停用</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 query-button-group">
                                <button class="btn btn-primary" id="btn-query">查询</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-container">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="form-group" style="display: none">
                                <button id="btn-add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> 新建</button>
                            </div>
                            <div class="form-group">
                                <button id="btn-remove" class="btn btn-danger" disabled><i class="glyphicon glyphicon-remove"></i> 批量停用</button>
                            </div>
                        </div>
                    </div>
                    <table id="table" class="table">
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </section>
</div>
<!-- Modal -->
<div class="modal fade" id="dialog-edit" tabindex="-1" role="dialog" aria-labelledby="dialog-edit-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialog-edit-title">title</h4>
            </div>
            <div class="modal-body">
                <form id="form-article">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="title" class="control-label">标题</label>
                                <input type="text" class="form-control" id="title" name="title" property="title">
                                <input type="hidden" id="id" name="id" property="id">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="content" class="control-label">正文</label>
                                <textarea name="content" id="content" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="excerpt" class="control-label">摘要</label>
                                <textarea name="excerpt" id="excerpt" class="form-control" style="height:100px;" property="excerpt"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="thumbnail_pic_url" class="control-label">封面图片</label>
                                <input type="hidden" id="thumbnail_pic_url" name="thumbnail_pic_url" property="thumbnail_pic_url">
                                <div class="thumbnail_pic">
                                    <img src="{{cdn.url('/images/boy.png')}}" id="img_thumbnail_pic_url">
                                    <button class="btn btn-primary" id="btn-upload-image">上传或更换封面图</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="category_id" class="control-label">用户分类</label>
                                <select name="category_id" id="category_id" class="form-control" property="category_id">
                                    <option>选择用户分类</option>
                                    {% for category in categories %}
                                    <option value="{{ category.id }}" {{ category.id == article.categoryId ? "selected": ""}}>{{ category.displayName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">标签</label>
                                <div class="row article-tags">
                                    <div class="col-sm-3"><input type="text" class="form-control" name="tags"></div>
                                    <div class="col-sm-3"><input type="text" class="form-control" name="tags"></div>
                                    <div class="col-sm-3"><input type="text" class="form-control" name="tags"></div>
                                    <div class="col-sm-3"><input type="text" class="form-control" name="tags"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-danger btn-change-status" data="trash">删除</button>
                <button type="button" class="btn btn-warning btn-change-status" data="rejected">拒绝</button>
                <button type="button" class="btn btn-success btn-change-status" data="published">通过</button>
                <button id="btn-save" type="button" class="btn btn-primary">仅保存</button>
            </div>
        </div>
    </div>
</div>
{% include "partial/dialog-info" %}
{% include "partial/dialog-confirm" %}
{% include "partial/dialog-error" %}
{% include "partial/uploadfile" %}
{% endblock %}
{% block js %}
<script src="{{cdn.url('/js/bower_components/moment/min/moment-with-locales.min.js')}}"></script>
<script src="{{cdn.url('/js/app/utils.js')}}"></script>
{% include "partial/bootstrap-table" %}
<script src="{{cdn.url('/js/app/user/list-user.js')}}"></script>
<script src="{{cdn.url('/js/app/table-init.js')}}"></script>
{% endblock %}
